@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }

  button:disabled {
    @apply brightness-50 cursor-not-allowed;
  }

  h1 {
    @apply text-[2rem];
  }

  h2 {
    @apply text-[1.5rem];
  }

  h3 {
    @apply text-[1.2rem];
  }

  h4 {
    @apply text-[1rem];
  }

  h5 {
    @apply text-[0.8rem];
  }

  h6 {
    @apply text-[0.6rem];
  }

  h1, h2, h3, h4, h5, h6, p, ul {
    @apply mb-3;
  }

  p {
    @apply leading-[1.6];
  }

  li {
    @apply mb-2;
  }

  fieldset {
    @apply mb-3;
  }

  label {
    @apply block mb-1;
  }

  a:focus,
  button:focus,
  input:focus {
    @apply outline-2 outline-dashed outline-greyDark outline-offset-2;
  }
}
