@font-face {
    font-family: 'Carbon';
    src: local('Carbon Bold'), local('Carbon-Bold'),
        url('Carbon-Bold.woff2') format('woff2'),
        url('Carbon-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

