@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(45 60% 96%);
  --foreground: hsl(60 6% 13%);
  --card: hsl(34 10% 98%);
  --card-foreground: hsl(60 6% 13%);
  --popover: hsl(34 10% 98%);
  --popover-foreground: hsl(60 6% 13%);
  --primary: hsl(60 6% 13%);
  --primary-foreground: hsl(34 10% 98%);
  --secondary: hsl(47 27% 87%);
  --secondary-foreground: hsl(60 6% 13%);
  --muted: hsl(47 27% 87%);
  --muted-foreground: hsl(60 6% 60%);
  --accent: hsl(47 27% 87%);
  --accent-foreground: hsl(60 6% 13%);
  --destructive: hsl(358 72% 59%);
  --destructive-foreground: hsl(34 10% 98%);
  --border: hsl(60 6% 85%);
  --ring: hsl(60 6% 13%);
  --radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(60 6% 5%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(0 0% 10%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(0 0% 10%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 10%);
    --secondary: hsl(60 6% 17%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(60 6% 17%);
    --muted-foreground: hsl(60 6% 50%);
    --accent: hsl(60 6% 17%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(60 6% 17%);
    --ring: hsl(0 0% 98%);
  }
}
