/** 
 * We are using rehype-pretty to style the code blocks in the project.
 * rehype-pretty-code is a Rehype plugin powered by the shiki syntax highlighter that provides beautiful code blocks for Markdown or MDX. 
 * It works on both the server at build-time (avoiding runtime syntax highlighting) and on the client for dynamic highlighting.
 * @see: https://rehype-pretty.pages.dev/
 */

/** 
 * Here we are setting up the styles needed to enable theme-aware code blocks.
 * @see: https://rehype-pretty.pages.dev/#multiple-themes-dark-and-light-mode
 */
html code[data-theme],
html code[data-theme] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
html.dark code[data-theme],
html.dark code[data-theme] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

/**
  * Here we are setting up the styles needed to enable line numbers in code blocks.
  * @see: https://rehype-pretty.pages.dev/#line-numbers
  */
figure[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}
figure[data-rehype-pretty-code-figure]
  code[data-line-numbers]
  > [data-line]::before {
  display: inline-block;
  width: 12px;
  margin-right: 2rem;
  color: gray;
  text-align: right;
  content: counter(line);
  counter-increment: line;
}
figure[data-rehype-pretty-code-figure]
  code[data-line-numbers-max-digits="2"]
  > [data-line]::before {
  width: 1.25rem;
}
figure[data-rehype-pretty-code-figure]
  code[data-line-numbers-max-digits="3"]
  > [data-line]::before {
  width: 1.75rem;
}
figure[data-rehype-pretty-code-figure]
  code[data-line-numbers-max-digits="4"]
  > [data-line]::before {
  width: 2.25rem;
}
figure[data-rehype-pretty-code-figure] p [data-line] {
  padding: 2px 4px;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
  background-color: var(--kbd-background) !important;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--kbd-border);
}

/**
  * Here we are just some additional styles to make the code blocks look better.
  * @see: https://rehype-pretty.pages.dev/#styles
  */
figure[data-rehype-pretty-code-figure] pre {
  background-color: var(--shiki-light-bg);
  padding: 16px;
  overflow-x: auto;
  font-size: 12px;
}
html.dark figure[data-rehype-pretty-code-figure] pre {
  background-color: var(--shiki-dark-bg);
}
figure[data-rehype-pretty-code-figure] [data-line] {
  margin-top: 0 !important;
}
figure[data-rehype-pretty-code-figure] {
  width: 100%;
  margin-top: 4px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}
